{% extends 'base.html.twig' %}

{% block title %}Edit 3D design{% endblock %}

{% block javascripts %}
    <script src="/js/form-range.js"></script>
{% endblock %}

{% block body %}
    <h2 id="page-title">Edit 3D design</h2>

    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.color) }}
    {{ form_row(form.polish) }}
    {{ form_row(form.width) }}
    {{ form_row(form.height) }}

    <div>
        <a href="#">Upload new 3D file</a>

        <div class="upload-form">
            {{ form_label(form.design) }}
            {{ form_widget(form.design) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}