{% extends 'base.html.twig' %}

{% block title %}3D prints overview{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/color-box.css">
    <link rel="stylesheet" href="/css/print-orders.css">
{% endblock %}

{% block javascripts %}
    <script src="/js/print-orders.js"></script>
    <script src="/js/print-design-table.js"></script>
{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="show-mine-check">
            <label class="form-check-label" for="show-mine-check">
                Show only my 3D prints
            </label>
        </div>
    {% endif %}

    <table class="table table-bordered" id="print-orders">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Dimensions</th>
            <th scope="col">Color</th>
            <th scope="col">Material</th>
            <th scope="col">Finish</th>
            <th scope="col">Polish</th>
            <th scope="col">Date</th>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <th scope="col"></th>
            {% endif %}
        </tr>
        </thead>

        <tbody>
        {% for order in orders %}
            <tr {{ (app.user and order.user.getId() is same as(app.user.getId()) ? 'class="mine"' : '') }} data-show-url="{{ path('print_order_show', { id: order.id }) }}">
                <td>{{ order.title }}</td>
                <td>{{ order.width }}mm x {{ order.height }}mm</td>
                <td>{{ order.material | capitalize }}</td>
                <td>{{ order.finish | capitalize }}</td>
                <td>{{ include('partials/color-box.html.twig', { color: order.color }) }}</td>
                <td>{{ order.polish ? 'YES' : 'NO' }}</td>
                <td>{{ order.createDate | date('d-m-Y') }}</td>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td>
                        {% if is_granted('delete', order) %}
                            <a href="{{ path('print_order_delete', { id: order.id }) }}" onclick="javascript:confirm('Are you sure?')" title="Delete print design">Delete</a>
                        {% endif %}

                        {% if is_granted('edit', order) %}
                            <a href="{{ path('print_order_edit', { id: order.id }) }}" title="Edit print design">Edit</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}