{% extends 'base.html.twig' %}

{% block title %}My 3D prints{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/print-orders.css">
{% endblock %}

{% block javascripts %}
    <script src="/js/print-orders.js"></script>
{% endblock %}

{% block body %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="show-mine-check">
        <label class="form-check-label" for="show-mine-check">
            Show only my 3D prints
        </label>
    </div>

    <table class="table table-bordered" id="print-orders">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Dimensions</th>
            <th scope="col">Color</th>
            <th scope="col">Material</th>
            <th scope="col">Finish</th>
            <th scope="col">Polish</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        {% for order in orders %}
        <tr {{ (order.user.getId() is same as(app.user.getId()) ? 'class="mine"' : '') }}>
            <td scope="row">
                {% if is_granted('delete', order) %}
                    <input type="checkbox">
                {% endif %}
            </td>
            <td>{{ order.title }}</td>
            <td>{{ order.width }}mm x {{ order.height }}mm</td>
            <td>
                <div class="color-box" style="background-color: #{{ order.color }};"></div>
            </td>
            <td>Steel</td>
            <td>Gold</td>
            <td>{{ order.polish ? 'YES' : 'NO' }}</td>
            <td>Aug 12, 2018</td>
            <td>
                {% if is_granted('delete', order) %}
                    <a href="#">Delete</a>
                {% endif %}

                {% if is_granted('edit', order) %}
                    <a href="#">Edit</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="del">Delete selected prints</a>
{% endblock %}