{% extends 'base.html.twig' %}

{% block title %}My 3D prints{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/print-orders.css">
{% endblock %}

{% block body %}
    <h1>My 3D prints</h1>

    <button type="button" class="btn btn-primary btn-sm">Upload print!</button>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Dimensions</th>
            <th scope="col">Color</th>
            <th scope="col">Material</th>
            <th scope="col">Finish</th>
            <th scope="col">Polish</th>
            <th scope="col">Date</th>
        </tr>
        </thead>

        <tbody>
        {% for order in orders %}
        <tr>
            <td scope="row">
                <input type="checkbox">
            </td>
            <td>{{ order.title }}</td>
            <td>{{ order.width }}mm x {{ order.height }}mm</td>
            <td>
                <div class="color-box" style="background-color: #{{ order.color }};"></div>
            </td>
            <td>Steel</td>
            <td>Gold</td>
            <td>{{ order.polish ? 'YES' : 'NO' }}</td>
            <td>Aug 12, 2018</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="del">Delete selected prints</a>
{% endblock %}