{% extends 'base.html.twig' %}

{% block title %}{{ print.title }} | 3D design{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/color-box.css">
    <link rel="stylesheet" href="/css/show-print.css">
{% endblock %}

{% block javascripts %}
    <script src="/vendor/thingiview/javascripts/Three.js"></script>
    <script src="/vendor/thingiview/javascripts/plane.js"></script>
    <script src="/vendor/thingiview/javascripts/thingiview.js"></script>

    <script src="/js/show-print.js"></script>
{% endblock %}

{% block body %}
    <div id="print-design" class="container" data-color="{{ print.color }}" data-obj-path="{{ asset('uploads/designs/' ~ print.design) }}">
        <div class="row">
             <h2 id="page-title">Design: {{ print.title }}</h2>
        </div>

        <div class="row">
            <div class="col-6">
                <div id="model-viewer"></div>
            </div>
            <div class="col">
                <h4>Details:</h4>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <b>Color</b>
                        </td>
                        <td>
                            {{ include('partials/color-box.html.twig', { color: print.color }) }} {{ print.color | upper }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Dimension</b>
                        </td>
                        <td>
                            {{ print.width }}mm x {{ print.height }}mm
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Material</b>
                        </td>
                        <td>
                            {{ print.material | capitalize }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Finish</b>
                        </td>
                        <td>
                            {{ print.finish | capitalize }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Polish</b>
                        </td>
                        <td>
                            {{ print.polish ? 'YES' : 'NO' }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Author</b>
                        </td>
                        <td>
                            {{ print.user.fullName }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Created at</b>
                        </td>
                        <td>
                            {{ print.createDate | date('d-m-Y h:i:s') }}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <a href="{{ path('print_order_index') }}" class="btn btn-secondary" title="Back to 3D design overview">Back</a>

                    {% if is_granted('edit', print) %}
                        <a href="{{ path('print_order_edit', { id: print.id }) }}" class="btn btn-secondary" title="Edit 3D print">Edit</a>
                    {% endif %}

                    {% if is_granted('delete', print) %}
                        <a href="{{ path('print_order_delete', { id: print.id }) }}" onclick="javascript:confirm('Are you sure?')" class="btn btn-danger" title="Delete 3D print">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}